Repository Kkkiittt/my-school, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Kkkiittt, @sanjarmavlonov, @zokirjanov

created entity-helper
  src/MySchool.Services/Common/Helpers/EntityHelper.cs
  src/MySchool.Services/Interfaces/IArticleService.cs
  src/MySchool.Services/Interfaces/ICharterService.cs
  src/MySchool.Services/Service/ArticleService.cs
  src/MySchool.Services/Service/EmployeeService.cs
  src/MySchool.Services/ViewModels/Articles/ArticleFullViewModel.cs
Owners: none

view models implicits completed
  src/MySchool.Services/Common/Helpers/EntityHelper.cs
  src/MySchool.Services/ViewModels/Charters/CharterShortViewModel.cs
  src/MySchool.Services/ViewModels/Comments/CommentViewModel.cs
Owners: none

Added Implicits's id
  src/MySchool.Services/ViewModels/Articles/ArticleFullViewModel.cs
  src/MySchool.Services/ViewModels/Articles/ArticleShortViewModel.cs
  src/MySchool.Services/ViewModels/Charters/CharterFullViewModel.cs
  src/MySchool.Services/ViewModels/Charters/CharterShortViewModel.cs
  src/MySchool.Services/ViewModels/Comments/CommentViewModel.cs
  src/MySchool.Services/ViewModels/Employees/EmployeeFullViewModel.cs
  src/MySchool.Services/ViewModels/Students/StudentFullViewModel.cs
  src/MySchool.Services/ViewModels/Students/StudentShortViewModel.cs
Owners: none

Created EntityHelper
  src/MySchool.Services/Common/Helpers/EntityHelper.cs
  src/MySchool.Services/ViewModels/Comments/CommentViewModel.cs
  src/MySchool.Services/ViewModels/Students/StudentShortViewModel.cs
Owners: none

cleaned code
  src/MySchool.Api/Controllers/ArticleController.cs
  src/MySchool.Api/Controllers/CommentController.cs
  src/MySchool.Api/Controllers/StudentsController.cs
  src/MySchool.Services/Common/Helpers/EntityHelper.cs
  src/MySchool.Services/Interfaces/IArticleService.cs
  src/MySchool.Services/Interfaces/ICharterService.cs
  src/MySchool.Services/Service/ArticleService.cs
  src/MySchool.Services/ViewModels/Articles/ArticleFullViewModel.cs
  src/MySchool.Services/ViewModels/Charters/CharterFullViewModel.cs
  src/MySchool.Services/ViewModels/Charters/CharterShortViewModel.cs
  src/MySchool.Services/ViewModels/Comments/CommentViewModel.cs
  src/MySchool.Services/ViewModels/Employees/EmployeeFullViewModel.cs
  src/MySchool.Services/ViewModels/Students/StudentFullViewModel.cs
Owners: none

CreatedPagination
  src/MySchool.Api/Program.cs
  src/MySchool.Services/Common/Exceptions/StatusCodeException.cs
  src/MySchool.Services/Common/Utils/PaginationMetaData.cs
  src/MySchool.Services/Common/Utils/PaginationParams.cs
  src/MySchool.Services/Interfaces/IPaginatorService.cs
  src/MySchool.Services/MySchool.Services.csproj
  src/MySchool.Services/Service/PaginatorService.cs
Owners: @zokirjanov

viewmodel helper, dto helper, services folder
  src/MySchool.Services/Common/Helpers/DtoHelper.cs
  src/MySchool.Services/Dtos/Employees/EmployeeRegisterDto.cs
  src/MySchool.Services/Interfaces/IHasher.cs
  src/MySchool.Services/Interfaces/Services/IArticleService.cs
  src/MySchool.Services/Interfaces/Services/ICharterService.cs
  src/MySchool.Services/Interfaces/Services/ICommentService.cs
  src/MySchool.Services/Interfaces/Services/IEmployeeService.cs
  src/MySchool.Services/Interfaces/Services/IOverallService.cs
  src/MySchool.Services/Interfaces/Services/IStudentService.cs
  src/MySchool.Services/Service/ArticleService.cs
  src/MySchool.Services/Service/BasicService.cs
  src/MySchool.Services/Service/CharterService.cs
  src/MySchool.Services/Service/EmployeeService.cs
  src/MySchool.Services/Service/GenericService.cs
Owners: none

created hasher
  src/MySchool.Services/Common/Security/Hasher.cs
  src/MySchool.Services/Service/ArticleService.cs
  src/MySchool.Services/Service/CharterService.cs
  src/MySchool.Services/Service/CommentService.cs
  src/MySchool.Services/Service/EmployeeService.cs
  src/MySchool.Services/Service/OverallService.cs
  src/MySchool.Services/Service/PhoneService.cs
  src/MySchool.Services/Service/StudentService.cs
Owners: none

Added DtoHelper Interface,
  src/MySchool.Services/Common/Exceptions/StatusCodeException.cs
  src/MySchool.Services/Common/Helpers/DtoHelper.cs
  src/MySchool.Services/Common/Helpers/ViewModelHelper.cs
  src/MySchool.Services/Dtos/Students/StudentRegisterDto.cs
  src/MySchool.Services/Interfaces/Common/IDtoHelper.cs
  src/MySchool.Services/Interfaces/Common/IFileService.cs
  src/MySchool.Services/Interfaces/Common/IHasher.cs
  src/MySchool.Services/Interfaces/Common/IPaginatorService.cs
  src/MySchool.Services/Interfaces/Common/IPhoneService.cs
  src/MySchool.Services/Interfaces/Common/IViewModelHelper.cs
  src/MySchool.Services/Interfaces/IFileService.cs
  src/MySchool.Services/Interfaces/IHasher.cs
  src/MySchool.Services/Interfaces/IPaginatorService.cs
  src/MySchool.Services/Interfaces/IPhoneService.cs
  src/MySchool.Services/Service/ArticleService.cs
  src/MySchool.Services/Service/BasicService.cs
  src/MySchool.Services/Service/CharterService.cs
  src/MySchool.Services/Service/Common/FileService.cs
  src/MySchool.Services/Service/Common/PaginatorService.cs
  src/MySchool.Services/Service/Common/PhoneService.cs
  src/MySchool.Services/Service/EmployeeService.cs
  src/MySchool.Services/Service/FileService.cs
  src/MySchool.Services/Service/PaginatorService.cs
  src/MySchool.Services/Service/PhoneService.cs
Owners: none

demoBranch checking
  src/MySchool.Api/Controllers/StudentsController.cs
Owners: none

fixed constructors of services
  src/MySchool.Services/Service/CommentService.cs
  src/MySchool.Services/Service/EmployeeService.cs
  src/MySchool.Services/Service/OverallService.cs
  src/MySchool.Services/Service/StudentService.cs
Owners: none

demo Branch
  src/MySchool.Api/Controllers/StudentsController.cs
Owners: none

some services
  src/MySchool.Services/Common/Helpers/DtoHelper.cs
  src/MySchool.Services/Common/Helpers/ViewModelHelper.cs
  src/MySchool.Services/Common/Security/Hasher.cs
  src/MySchool.Services/Interfaces/Common/IDtoHelper.cs
  src/MySchool.Services/Interfaces/Common/IFileService.cs
  src/MySchool.Services/Interfaces/Common/IHasher.cs
  src/MySchool.Services/Interfaces/Common/IPaginatorService.cs
  src/MySchool.Services/Interfaces/Common/IPhoneService.cs
  src/MySchool.Services/Interfaces/Common/IViewModelHelper.cs
  src/MySchool.Services/Service/ArticleService.cs
  src/MySchool.Services/Service/CharterService.cs
  src/MySchool.Services/Service/CommentService.cs
  src/MySchool.Services/Service/Common/FileService.cs
  src/MySchool.Services/Service/Common/PaginatorService.cs
  src/MySchool.Services/Service/Common/PhoneService.cs
  src/MySchool.Services/Service/OverallService.cs
  src/MySchool.Services/Service/StudentService.cs
  src/MySchool.Services/ViewModels/Common/OverallViewModel.cs
Owners: none

Added AuthManger Interface
  src/MySchool.Services/Common/Security/Hasher.cs
  src/MySchool.Services/Interfaces/Common/IAuthManager.cs
  src/MySchool.Services/Interfaces/Services/IStudentService.cs
  src/MySchool.Services/Service/StudentService.cs
Owners: none

Servise Employee & Charters
  src/MySchool.Services/Common/Security/Hasher.cs
  src/MySchool.Services/Service/CharterService.cs
  src/MySchool.Services/Service/EmployeeService.cs
Owners: none

construct basic service
  src/MySchool.DataAccess/Repositories/GenericRepository.cs
  src/MySchool.Services/Service/BasicService.cs
  src/MySchool.Services/Service/CommentService.cs
  src/MySchool.Services/Service/EmployeeService.cs
  src/MySchool.Services/Service/OverallService.cs
  src/MySchool.Services/Service/StudentService.cs
Owners: none

authManager added to basicService
  src/MySchool.Services/Service/BasicService.cs
Owners: none

fixed constructors of services
  src/MySchool.Services/Interfaces/Common/IDtoHelper.cs
  src/MySchool.Services/Service/ArticleService.cs
  src/MySchool.Services/Service/CharterService.cs
  src/MySchool.Services/Service/CommentService.cs
  src/MySchool.Services/Service/Common/PhoneService.cs
  src/MySchool.Services/Service/EmployeeService.cs
  src/MySchool.Services/Service/OverallService.cs
  src/MySchool.Services/Service/StudentService.cs
Owners: none

Added AuthManager
  src/MySchool.Api/Configurations/JwtConfiguration.cs
  src/MySchool.Api/MySchool.Api.csproj
  src/MySchool.Api/appsettings.json
  src/MySchool.Services/MySchool.Services.csproj
  src/MySchool.Services/Service/Common/AuthManager.cs
  src/MySchool.Services/Service/StudentService.cs
Owners: @zokirjanov

Added AuthManager
  src/MySchool.Services/Service/EmployeeService.cs
  src/MySchool.Services/Service/StudentService.cs
Owners: none

phone service created
  src/MySchool.Services/Dtos/Common/CodeConfirmDto.cs
  src/MySchool.Services/Interfaces/Common/ICasher.cs
  src/MySchool.Services/Interfaces/Common/ISmsManager.cs
  src/MySchool.Services/Service/CommentService.cs
  src/MySchool.Services/Service/Common/PhoneService.cs
Owners: none

SmallBugFixed
  src/MySchool.Services/Service/EmployeeService.cs
Owners: none

add-scoped
  src/MySchool.Api/Configurations/JwtConfiguration.cs
  src/MySchool.Api/Controllers/StudentsController.cs
  src/MySchool.Api/Program.cs
  src/MySchool.Services/Common/Helpers/DtoHelper.cs
  src/MySchool.Services/Common/Security/Hasher.cs
  src/MySchool.Services/Interfaces/Common/IAuthManager.cs
  src/MySchool.Services/Interfaces/Common/ICasher.cs
  src/MySchool.Services/Interfaces/Common/IPhoneService.cs
  src/MySchool.Services/Interfaces/Common/ISmsManager.cs
  src/MySchool.Services/Interfaces/Services/IStudentService.cs
  src/MySchool.Services/Service/BasicService.cs
  src/MySchool.Services/Service/CharterService.cs
  src/MySchool.Services/Service/Common/AuthManager.cs
  src/MySchool.Services/Service/Common/PhoneService.cs
  src/MySchool.Services/Service/EmployeeService.cs
  src/MySchool.Services/Service/StudentService.cs
  src/MySchool.Services/ViewModels/Common/OverallViewModel.cs
Owners: @zokirjanov

Created phone controller
  src/MySchool.Api/Controllers/PhoneController.cs
  src/MySchool.Api/Controllers/StudentsController.cs
  src/MySchool.Api/Program.cs
  src/MySchool.Services/Service/EmployeeService.cs
  src/MySchool.Services/Service/StudentService.cs
Owners: @zokirjanov

configuration of admin
  src/MySchool.DataAccess/Configurations/SuperAdminConfiguration.cs
  src/MySchool.Services/Service/Common/PhoneService.cs
Owners: none

phone service
  src/MySchool.Services/Common/Helpers/Casher.cs
  src/MySchool.Services/Interfaces/Services/IPhoneService.cs
Owners: none

validation of email
  src/MySchool.Api/Program.cs
  src/MySchool.DataAccess/Configurations/SuperAdminConfiguration.cs
  src/MySchool.Domain/Entities/Employees/Employee.cs
  src/MySchool.Services/Attributes/Email.cs
  src/MySchool.Services/Dtos/Employees/EmployeeRegisterDto.cs
  src/MySchool.Services/Interfaces/Common/IEmailManager.cs
  src/MySchool.Services/Interfaces/Services/IConfirmationService.cs
  src/MySchool.Services/Service/Common/ConfirmationService.cs
  src/MySchool.Services/Service/EmployeeService.cs
  src/MySchool.Services/ViewModels/Employees/EmployeeFullViewModel.cs
Owners: @zokirjanov

dtos-naming
  src/MySchool.Services/Common/Helpers/DtoHelper.cs
  src/MySchool.Services/Dtos/Employees/EmployeeLoginDto.cs
  src/MySchool.Services/Dtos/Employees/EmployeeRegisterDto.cs
  src/MySchool.Services/Service/EmployeeService.cs
Owners: none

Integration params
  src/MySchool.Api/Controllers/ArticleController.cs
  src/MySchool.Api/Controllers/StudentsController.cs
  src/MySchool.Api/Program.cs
  src/MySchool.Services/Interfaces/Services/IArticleService.cs
  src/MySchool.Services/Interfaces/Services/ICharterService.cs
  src/MySchool.Services/Interfaces/Services/IStudentService.cs
  src/MySchool.Services/Service/ArticleService.cs
  src/MySchool.Services/Service/CharterService.cs
  src/MySchool.Services/Service/EmployeeService.cs
  src/MySchool.Services/Service/StudentService.cs
Owners: @zokirjanov

configuration of email
  src/MySchool.Api/appsettings.json
Owners: @zokirjanov

naming
  src/MySchool.Api/Controllers/ConfirmationController.cs
Owners: none

fixed studentscontroller
  src/MySchool.Api/Controllers/StudentsController.cs
Owners: none

pagination params setting in controller
  src/MySchool.Api/Controllers/ArticleController.cs
  src/MySchool.Api/Controllers/StudentsController.cs
Owners: none

Created EmailManager and intergration
  src/MySchool.Api/Controllers/ConfirmationController.cs
  src/MySchool.Api/MySchool.Api.csproj
  src/MySchool.Api/Program.cs
  src/MySchool.DataAccess/MySchool.DataAccess.csproj
  src/MySchool.Domain/MySchool.Domain.csproj
  src/MySchool.Services/Common/Helpers/Casher.cs
  src/MySchool.Services/Interfaces/Common/ICasher.cs
  src/MySchool.Services/Interfaces/Common/IEmailManager.cs
  src/MySchool.Services/Interfaces/Services/EmailManager.cs
  src/MySchool.Services/Interfaces/Services/IConfirmationService.cs
  src/MySchool.Services/MySchool.Services.csproj
  src/MySchool.Services/Service/Common/ConfirmationService.cs
Owners: @zokirjanov, @sanjarmavlonov, @Kkkiittt

Added Migration
  src/MySchool.DataAccess/Migrations/20230109063015_AddedEmail.Designer.cs
  src/MySchool.DataAccess/Migrations/20230109063015_AddedEmail.cs
Owners: none

cleaned code
  src/MySchool.Api/Controllers/ArticleController.cs
  src/MySchool.Api/Controllers/ConfirmationController.cs
  src/MySchool.Api/Controllers/StudentsController.cs
  src/MySchool.Api/Program.cs
  src/MySchool.Services/Dtos/Employees/EmployeeRegisterDto.cs
  src/MySchool.Services/Service/ArticleService.cs
  src/MySchool.Services/Service/CharterService.cs
  src/MySchool.Services/Service/EmployeeService.cs
  src/MySchool.Services/Service/StudentService.cs
Owners: @zokirjanov

try catch removed
  src/MySchool.Services/Service/ArticleService.cs
  src/MySchool.Services/Service/CharterService.cs
  src/MySchool.Services/Service/CommentService.cs
  src/MySchool.Services/Service/EmployeeService.cs
  src/MySchool.Services/Service/StudentService.cs
Owners: none

Added WWWroot
  src/MySchool.Api/MySchool.Api.csproj
  src/MySchool.Api/wwwroot/images/IMG_88463bf3-1b88-4e5c-ad81-3d64a4daa2e5.png
Owners: @zokirjanov

authorization
  src/MySchool.Api/Controllers/ArticleController.cs
  src/MySchool.Api/Controllers/CommentController.cs
  src/MySchool.Api/Controllers/ConfirmationController.cs
  src/MySchool.Api/Controllers/EmployeeController.cs
  src/MySchool.Api/Controllers/StudentsController.cs
  src/MySchool.Api/Program.cs
  src/MySchool.Services/Service/Common/AuthManager.cs
Owners: @zokirjanov

Big-Bugs fixes
  src/MySchool.Api/Configurations/DataAccessConfiguration.cs
  src/MySchool.Api/Configurations/SwagerAuthConfiguration.cs
  src/MySchool.Api/Controllers/ConfirmationController.cs
  src/MySchool.Api/Program.cs
  src/MySchool.Api/appsettings.json
  src/MySchool.Api/wwwroot/images/IMG_5b265eb2-e7e6-4d51-a11f-71584d423496.png
  src/MySchool.Api/wwwroot/images/IMG_c0ec8a84-743d-4a20-af7d-72758c6e5441.png
  src/MySchool.Api/wwwroot/images/IMG_dd2b911d-684e-45de-b31b-0fbe97944099.png
  src/MySchool.Api/wwwroot/images/IMG_f0d0abc7-bea4-424b-9b8d-4203044f8faa.png
  src/MySchool.DataAccess/Migrations/20230109083646_Online.Designer.cs
  src/MySchool.DataAccess/Migrations/20230109083646_Online.cs
  src/MySchool.Services/Attributes/Email.cs
  src/MySchool.Services/Interfaces/Services/EmailManager.cs
  src/MySchool.Services/Interfaces/Services/IConfirmationService.cs
  src/MySchool.Services/Service/Common/ConfirmationService.cs
  src/MySchool.Services/Service/Common/EmailManager.cs
  src/MySchool.Services/Service/EmployeeService.cs
  src/MySchool.Services/Service/StudentService.cs
Owners: @zokirjanov

.github/CODEOWNERS:

/.github/*                  @Kkkiittt
/src/MySchool.Domain/*      @Kkkiittt
/src/MySchool.DataAccess/*  @sanjarmavlonov
/src/MySchool.Api/*         @zokirjanov
