Repository Kkkiittt/my-school, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Kkkiittt, @sanjarmavlonov, @zokirjanov

created dbcontext
  src/MySchool.Api/Configurations/DataAccessConfiguration.cs
  src/MySchool.Api/MySchool.Api.csproj
  src/MySchool.Api/Program.cs
  src/MySchool.Api/appsettings.json
  src/MySchool.DataAccess/Configurations/SuperAdminConfiguration.cs
  src/MySchool.DataAccess/DbContexts/AppDbContext.cs
  src/MySchool.DataAccess/Migrations/20230105111628_InitialCreate.Designer.cs
  src/MySchool.DataAccess/Migrations/20230105111628_InitialCreate.cs
  src/MySchool.DataAccess/Migrations/AppDbContextModelSnapshot.cs
  src/MySchool.DataAccess/MySchool.DataAccess.csproj
  src/MySchool.Services/MySchool.Services.csproj
  src/MySchool.sln
Owners: @zokirjanov, @sanjarmavlonov

interfaces for repos
  src/MySchool.DataAccess/Interfaces/Articles/IArticleRepository.cs
  src/MySchool.DataAccess/Interfaces/Charters/ICharterRepository.cs
  src/MySchool.DataAccess/Interfaces/Comments/ICommentRepository.cs
  src/MySchool.DataAccess/Interfaces/Employees/IEmployeeRepository.cs
  src/MySchool.DataAccess/Interfaces/IGenericRepository.cs
  src/MySchool.DataAccess/Interfaces/IRepository.cs
  src/MySchool.DataAccess/Interfaces/IUnitOfWork.cs
  src/MySchool.DataAccess/Interfaces/Students/IStudentRepository.cs
Owners: none

UnitOfWork + Repositories created
  src/MySchool.Api/Configurations/DataAccessConfiguration.cs
  src/MySchool.Api/Program.cs
  src/MySchool.DataAccess/Configurations/SuperAdminConfiguration.cs
  src/MySchool.DataAccess/DbContexts/AppDbContext.cs
  src/MySchool.DataAccess/Interfaces/Articles/IArticleRepository.cs
  src/MySchool.DataAccess/Interfaces/Charters/ICharterRepository.cs
  src/MySchool.DataAccess/Interfaces/Comments/ICommentRepository.cs
  src/MySchool.DataAccess/Interfaces/Employees/IEmployeeRepository.cs
  src/MySchool.DataAccess/Interfaces/IGenericRepository.cs
  src/MySchool.DataAccess/Interfaces/IRepository.cs
  src/MySchool.DataAccess/Interfaces/IUnitOfWork.cs
  src/MySchool.DataAccess/Interfaces/Students/IStudentRepository.cs
  src/MySchool.DataAccess/Migrations/20230105111628_InitialCreate.cs
  src/MySchool.DataAccess/Repositories/Articles/ArticleRepository.cs
  src/MySchool.DataAccess/Repositories/BaseRepository.cs
  src/MySchool.DataAccess/Repositories/Charters/CharterRepository.cs
  src/MySchool.DataAccess/Repositories/Comments/CommentRepository.cs
  src/MySchool.DataAccess/Repositories/Employees/EmployeeRepository.cs
  src/MySchool.DataAccess/Repositories/GenericRepository.cs
  src/MySchool.DataAccess/Repositories/Students/StudentRepository.cs
  src/MySchool.DataAccess/Repositories/UnitOfWork.cs
  src/MySchool.Domain/Common/Auditable.cs
  src/MySchool.Domain/Common/BaseEntity.cs
  src/MySchool.Domain/Entities/Articles/Article.cs
  src/MySchool.Domain/Entities/Charters/Charter.cs
  src/MySchool.Domain/Entities/Comments/Comment.cs
  src/MySchool.Domain/Entities/Employees/Employee.cs
  src/MySchool.Domain/Entities/Students/Student.cs
  src/MySchool.Domain/Enums/Role.cs
  src/MySchool.Domain/MySchool.Domain.csproj
Owners: @zokirjanov, @Kkkiittt

nothing
  src/MySchool.Domain/Enums/Role.cs
Owners: none

set; for UnitOfWork
  src/MySchool.DataAccess/Interfaces/IUnitOfWork.cs
  src/MySchool.DataAccess/Repositories/UnitOfWork.cs
Owners: none

Added properities
  src/MySchool.DataAccess/Migrations/20230106114108_added-properities.Designer.cs
  src/MySchool.DataAccess/Migrations/20230106114108_added-properities.cs
  src/MySchool.Domain/Entities/Articles/Article.cs
  src/MySchool.Domain/Entities/Employees/Employee.cs
  src/MySchool.Domain/Entities/Students/Student.cs
Owners: none

dtos
  src/MySchool.Services/Dtos/Articles/ArticleCreateDto.cs
  src/MySchool.Services/Dtos/Charters/CharterCreateDto.cs
  src/MySchool.Services/Dtos/Comments/CommentCreateDto.cs
  src/MySchool.Services/Dtos/Employees/EmployeeLoginDto.cs
  src/MySchool.Services/Dtos/Employees/EmployeeRegisterDto.cs
  src/MySchool.Services/Dtos/Employees/PhoneConfirmDto.cs
  src/MySchool.Services/Dtos/Students/StudentLoginDto.cs
  src/MySchool.Services/MySchool.Services.csproj
Owners: none

Added some ViewModels
  src/MySchool.Services/MySchool.Services.csproj
  src/MySchool.Services/ViewModels/Articles/ArticleFullViewModel.cs
  src/MySchool.Services/ViewModels/Articles/ArticleShortViewModel.cs
  src/MySchool.Services/ViewModels/Comments/CommentViewModel.cs
  src/MySchool.Services/ViewModels/Common/OverallViewModel.cs
  src/MySchool.Services/ViewModels/Students/StudnetLoginViewModel.cs
  src/MySchool.Services/ViewModels/Teachers/TeacherLoginViewModel.cs
  src/MySchool.Services/ViewModels/Teachers/TeacherSignViewModel.cs
Owners: none

fixed ViewModels
  src/MySchool.Services/ViewModels/Articles/ArticleFullViewModel.cs
  src/MySchool.Services/ViewModels/Articles/ArticleShortViewModel.cs
  src/MySchool.Services/ViewModels/Comments/CommentViewModel.cs
  src/MySchool.Services/ViewModels/Students/StudnetLoginViewModel.cs
  src/MySchool.Services/ViewModels/Teachers/TeacherLoginViewModel.cs
  src/MySchool.Services/ViewModels/Teachers/TeacherSignViewModel.cs
Owners: none

clean code
  src/MySchool.Services/MySchool.Services.csproj
  src/MySchool.Services/ViewModels/Common/OverallViewModel.cs
  src/MySchool.Services/ViewModels/Students/StudnetLoginViewModel.cs
  src/MySchool.Services/ViewModels/Teachers/TeacherLoginViewModel.cs
  src/MySchool.Services/ViewModels/Teachers/TeacherSignViewModel.cs
Owners: none

naming
  src/MySchool.Services/ViewModels/Students/StudnetLoginViewModel.cs
  src/MySchool.Services/ViewModels/Teachers/TeacherLoginViewModel.cs
Owners: none

Added some viewmodels
  src/MySchool.Services/ViewModels/Articles/ArticleFullViewModel.cs
  src/MySchool.Services/ViewModels/Articles/ArticleShortViewModel.cs
  src/MySchool.Services/ViewModels/Comments/CommentViewModel.cs
  src/MySchool.Services/ViewModels/Students/StudnetLoginViewModel.cs
  src/MySchool.Services/ViewModels/Teachers/TeacherFullViewModel.cs
  src/MySchool.Services/ViewModels/Teachers/TeacherLoginViewModel.cs
  src/MySchool.Services/ViewModels/Teachers/TeacherSignViewModel.cs
Owners: none

attributes
  src/MySchool.Services/Attributes/Phone.cs
  src/MySchool.Services/Attributes/VerificationCode.cs
  src/MySchool.Services/Dtos/Common/PhoneConfirmDto.cs
  src/MySchool.Services/Dtos/Employees/EmployeeLoginDto.cs
  src/MySchool.Services/Dtos/Employees/EmployeeRegisterDto.cs
Owners: none

Clean-Code
  src/MySchool.Services/ViewModels/Students/StudnetLoginViewModel.cs
  src/MySchool.Services/ViewModels/Teachers/TeacherFullViewModel.cs
  src/MySchool.Services/ViewModels/Teachers/TeacherLoginViewModel.cs
  src/MySchool.Services/ViewModels/Teachers/TeacherSignViewModel.cs
Owners: none

clean code
  src/MySchool.DataAccess/Migrations/20230106114108_added-properities.cs
  src/MySchool.Domain/Entities/Articles/Article.cs
  src/MySchool.Domain/Entities/Employees/Employee.cs
  src/MySchool.Domain/Entities/Students/Student.cs
  src/MySchool.Services/Attributes/Phone.cs
  src/MySchool.Services/Dtos/Articles/ArticleCreateDto.cs
  src/MySchool.Services/Dtos/Charters/CharterCreateDto.cs
  src/MySchool.Services/Dtos/Common/PhoneConfirmDto.cs
  src/MySchool.Services/Dtos/Students/StudentLoginDto.cs
  src/MySchool.Services/ViewModels/Articles/ArticleFullViewModel.cs
  src/MySchool.Services/ViewModels/Teachers/TeacherFullViewModel.cs
Owners: none

small fix
  src/MySchool.Api/Configurations/DataAccessConfiguration.cs
  src/MySchool.DataAccess/Configurations/SuperAdminConfiguration.cs
  src/MySchool.DataAccess/Repositories/UnitOfWork.cs
Owners: none

smaaaaaaal fix
  src/MySchool.Services/ViewModels/Teachers/TeacherFullViewModel.cs
Owners: none

fix
  src/MySchool.Services/ViewModels/Teachers/TeacherFullViewModel.cs
Owners: none

d
  src/MySchool.Services/ViewModels/Teachers/TeacherFullViewModel.cs
Owners: none

Added StudentViewModel
  src/MySchool.Services/ViewModels/Charters/CharterFullViewModel.cs
  src/MySchool.Services/ViewModels/Charters/CharterShortViewModel.cs
  src/MySchool.Services/ViewModels/Students/StudentShortViewModel.cs
  src/MySchool.Services/ViewModels/Students/StudnetFullViewModel.cs
  src/MySchool.Services/ViewModels/Teachers/TeacherFullViewModel.cs
Owners: none

architect
  src/MySchool.Services/Dtos/Commons/PhoneConfirmDto.cs
  src/MySchool.Services/MySchool.Services.csproj
Owners: none

Created FileService
  src/MySchool.Domain/.filenesting.json
  src/MySchool.Services/Common/Helpers/ImageHelper.cs
  src/MySchool.Services/Interfaces/IFileService.cs
  src/MySchool.Services/MySchool.Services.csproj
  src/MySchool.Services/Service/FileService.cs
Owners: @Kkkiittt

Created Some Interface Service
  src/MySchool.Services/Dtos/Students/StudentRegisterDto.cs
  src/MySchool.Services/Interfaces/IArticleService.cs
  src/MySchool.Services/Interfaces/ICommentService.cs
  src/MySchool.Services/Interfaces/IEmployeeService.cs
  src/MySchool.Services/Interfaces/IStudentService.cs
  src/MySchool.Services/ViewModels/Articles/ArticleFullViewModel.cs
  src/MySchool.Services/ViewModels/Articles/ArticleShortViewModel.cs
  src/MySchool.Services/ViewModels/Charters/CharterFullViewModel.cs
  src/MySchool.Services/ViewModels/Charters/CharterShortViewModel.cs
  src/MySchool.Services/ViewModels/Comments/CommentViewModel.cs
  src/MySchool.Services/ViewModels/Common/OverallViewModel.cs
  src/MySchool.Services/ViewModels/Students/StudentShortViewModel.cs
  src/MySchool.Services/ViewModels/Students/StudnetFullViewModel.cs
  src/MySchool.Services/ViewModels/Students/StudnetLoginViewModel.cs
  src/MySchool.Services/ViewModels/Teachers/TeacherFullViewModel.cs
  src/MySchool.Services/ViewModels/Teachers/TeacherLoginViewModel.cs
  src/MySchool.Services/ViewModels/Teachers/TeacherSignViewModel.cs
Owners: none

Created SrviceInterfaces
  src/MySchool.Services/Interfaces/IArticleService.cs
  src/MySchool.Services/Interfaces/ICommentService.cs
  src/MySchool.Services/Interfaces/IEmployeeService.cs
  src/MySchool.Services/Interfaces/IStudentService.cs
Owners: none

Added
  src/MySchool.Services/Interfaces/ICommentService.cs
Owners: none

Added Interface
  src/MySchool.Services/Dtos/Students/StudentRegisterDto.cs
  src/MySchool.Services/Interfaces/IStudentService.cs
  src/MySchool.Services/ViewModels/Students/StudentRegisterViewModel.cs
Owners: none

Create Employee & student Controllers
  src/MySchool.Api/Controllers/EmployeeController.cs
  src/MySchool.Api/Controllers/StudentsController.cs
Owners: none

Path changed
  src/MySchool.Api/Controllers/EmployeeController.cs
  src/MySchool.Api/Controllers/StudentsController.cs
Owners: none

Added Interface Services
  src/MySchool.Services/Dtos/Common/CodeConfirmDto.cs
  src/MySchool.Services/Interfaces/ICharterService.cs
  src/MySchool.Services/Interfaces/IOverallService.cs
  src/MySchool.Services/Interfaces/IPhoneService.cs
  src/MySchool.Services/Interfaces/IStudentService.cs
  src/MySchool.Services/ViewModels/Charters/CharterShortViewModel.cs
Owners: none

Added Interface Services
  src/MySchool.Services/Service/ArticleService.cs
  src/MySchool.Services/Service/CharterService.cs
  src/MySchool.Services/Service/CommentService.cs
  src/MySchool.Services/Service/EmployeeService.cs
  src/MySchool.Services/Service/OverallService.cs
  src/MySchool.Services/Service/PhoneService.cs
  src/MySchool.Services/Service/StudentService.cs
Owners: none

Create all Controllers
  src/MySchool.Api/Controllers/ArticleController.cs
  src/MySchool.Api/Controllers/CommentController.cs
  src/MySchool.Api/Controllers/EmployeeController.cs
  src/MySchool.Api/Controllers/StudentsController.cs
  src/MySchool.Services/Interfaces/IArticleService.cs
Owners: none

Fixed Syntax Errors
  src/MySchool.Api/Controllers/ArticleController.cs
  src/MySchool.Api/Controllers/CommentController.cs
Owners: none

Fixed Syntax errors
  src/MySchool.Api/Controllers/CommentController.cs
Owners: none

Added FromForm
  src/MySchool.Api/Controllers/StudentsController.cs
Owners: none

architecture for services
  src/MySchool.Api/Configurations/DataAccessConfiguration.cs
  src/MySchool.Api/Controllers/EmployeeController.cs
  src/MySchool.Api/Controllers/StudentsController.cs
  src/MySchool.Services/Dtos/Employees/EmployeeLoginDto.cs
  src/MySchool.Services/Dtos/Students/StudentRegisterDto.cs
  src/MySchool.Services/Interfaces/ICharterService.cs
  src/MySchool.Services/Interfaces/IFileService.cs
  src/MySchool.Services/Interfaces/IStudentService.cs
  src/MySchool.Services/Service/ArticleService.cs
  src/MySchool.Services/Service/BasicService.cs
  src/MySchool.Services/Service/CharterService.cs
  src/MySchool.Services/Service/CommentService.cs
  src/MySchool.Services/Service/EmployeeService.cs
  src/MySchool.Services/Service/FileService.cs
  src/MySchool.Services/Service/OverallService.cs
  src/MySchool.Services/Service/PhoneService.cs
  src/MySchool.Services/Service/StudentService.cs
  src/MySchool.Services/ViewModels/Articles/ArticleShortViewModel.cs
  src/MySchool.Services/ViewModels/Charters/CharterFullViewModel.cs
  src/MySchool.Services/ViewModels/Comments/CommentViewModel.cs
  src/MySchool.Services/ViewModels/Common/OverallViewModel.cs
  src/MySchool.Services/ViewModels/Students/StudentRegisterViewModel.cs
  src/MySchool.Services/ViewModels/Students/StudnetFullViewModel.cs
  src/MySchool.Services/ViewModels/Students/StudnetLoginViewModel.cs
  src/MySchool.Services/ViewModels/Teachers/TeacherFullViewModel.cs
  src/MySchool.Services/ViewModels/Teachers/TeacherLoginViewModel.cs
  src/MySchool.Services/ViewModels/Teachers/TeacherSignViewModel.cs
Owners: none

clean code
  src/MySchool.Api/Controllers/ArticleController.cs
  src/MySchool.Api/Controllers/EmployeeController.cs
  src/MySchool.Api/Controllers/StudentsController.cs
Owners: none

converting operators for dtos
  src/MySchool.Services/Dtos/Articles/ArticleCreateDto.cs
  src/MySchool.Services/Dtos/Charters/CharterCreateDto.cs
  src/MySchool.Services/Dtos/Comments/CommentCreateDto.cs
  src/MySchool.Services/Dtos/Employees/EmployeeRegisterDto.cs
  src/MySchool.Services/Dtos/Students/StudentRegisterDto.cs
  src/MySchool.Services/Service/ArticleService.cs
  src/MySchool.Services/Service/CharterService.cs
  src/MySchool.Services/Service/EmployeeService.cs
  src/MySchool.Services/Service/GenericService.cs
  src/MySchool.Services/ViewModels/Students/StudentRegisterViewModel.cs
Owners: none

Some Changes
  src/MySchool.Services/Service/CharterService.cs
  src/MySchool.Services/Service/CommentService.cs
  src/MySchool.Services/Service/EmployeeService.cs
  src/MySchool.Services/Service/OverallService.cs
  src/MySchool.Services/Service/PhoneService.cs
  src/MySchool.Services/Service/StudentService.cs
Owners: none

Created ViewModel Imlicits
  src/MySchool.Services/Service/ArticleService.cs
  src/MySchool.Services/ViewModels/Articles/ArticleFullViewModel.cs
  src/MySchool.Services/ViewModels/Articles/ArticleShortViewModel.cs
  src/MySchool.Services/ViewModels/Charters/CharterFullViewModel.cs
  src/MySchool.Services/ViewModels/Charters/CharterShortViewModel.cs
  src/MySchool.Services/ViewModels/Comments/CommentViewModel.cs
  src/MySchool.Services/ViewModels/Common/OverallViewModel.cs
  src/MySchool.Services/ViewModels/Employees/EmployeeFullViewModel.cs
  src/MySchool.Services/ViewModels/Students/StudentFullViewModel.cs
  src/MySchool.Services/ViewModels/Students/StudentShortViewModel.cs
  src/MySchool.Services/ViewModels/Students/StudnetFullViewModel.cs
  src/MySchool.Services/ViewModels/Students/StudnetLoginViewModel.cs
  src/MySchool.Services/ViewModels/Teachers/TeacherFullViewModel.cs
  src/MySchool.Services/ViewModels/Teachers/TeacherLoginViewModel.cs
  src/MySchool.Services/ViewModels/Teachers/TeacherSignViewModel.cs
Owners: none

filer to constructor
  src/MySchool.Services/Service/ArticleService.cs
Owners: none

.github/CODEOWNERS:

/.github/*                  @Kkkiittt
/src/MySchool.Domain/*      @Kkkiittt
/src/MySchool.DataAccess/*  @sanjarmavlonov
/src/MySchool.Api/*         @zokirjanov
